{% load static %}
<style>
    .logo{
        margin-top:20px;
        margin-bottom:20px;
    }
    .dropdown-menu{
        margin-left:40px;
    }
</style>

<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-secondary navbar-dark">
        <a href="index.html" class="navbar-brand mx-4 mb-3">
            <img src="{% static 'user/assets/img/logo-no-background.png ' %}" class="logo" alt="" height=40>        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0">{{admin.username}}</h6>
                <span>Admin</span>
            </div>
        </div>
        <div class="navbar-nav w-100">
            <a href="index.html" class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Category</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="/myadmin/Add_Category" class="dropdown-item">Add</a>
                    <a href="/myadmin/showAllproduct" class="dropdown-item">Show</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa-code-branch me-2"></i>Supplier</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="/myadmin/Approve_Reject" class="dropdown-item">Approve/Reject</a>
                    <a href="/myadmin/showAllsuppliers" class="dropdown-item">All Supplies</a> 
                </div>
            </div>
            <a href="/myadmin/alluser" class="nav-item nav-link"><i class="fas fa-user me-2"></i>User</a>
            <a href="form.html" class="nav-item nav-link"><i class="fas fa-receipt me-2"></i>Order Details</a>
            <a href="/myadmin/allfeedback" class="nav-item nav-link"><i class="fa fa-table me-2"></i>FeedBack</a>
            <a href="/myadmin/allinquiry" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Inquiry</a>
            <a href="/myadmin/logout" class="nav-item nav-link"><i class="fas fa-sign-out-alt me-2"></i>Logout</a>

        </div>
    </nav>
</div>