{% load static %}
<div class="row g-4">
    <div class="col-10 m-auto">
        <h4 class="mb-4">Order</h4>
        <center>
            <h5 class="mb-4">Poster </h5>
            <img src="{{ result.image }}" height="300" width="450">
            <!-- Example with a static image -->
            <img src="{% static 'user/assets/img/' %}1.jpg" height="300" width="450">
            <br><br>
            {{ result.price }}
            <h5>Word File</h5>
            <div class="col-lg-6">
                <!-- Example to show a word file -->
                {# <iframe src="{{ result.word.url }}" frameborder="0" style="border:0;" allowfullscreen></iframe> #}
            </div>
        </center>
    </div>
</div>
